


<!DOCTYPE html>
<html lang="en">
<head>
   <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

{{>navbar}}
<div class="container">
  <h2>Stacked form</h2>
  <form action="/ragister" method="post">
  <!--
  <div class="container">
    <div class="col-md-12">
      {{#if errors}}
      {{# each errors}}
      <p class="alert alert-danger">{{this.msg}}</p>
{{/each}}
{{/if}}
    </div>
  </div>

-->  <div class="form-group">
      <label for="firstname">first name:</label>
      <input type="text" class="form-control" id="firstname" placeholder="Enter email" name="firstname" required>
    </div>
<div class="form-group">
      <label for="lastname">last name:</label>
      <input type="text" class="form-control" id="lastname" placeholder="Enter email" name="lastname" required> 
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
    </div>

    <div class="form-group">
      <label for="cpassword"> confirm Password:</label>
      <input type="password" class="form-control" id="cpwd" placeholder="Enter password" name="conpassword" required>
    </div>


    <!--
    <input type="file" accept="image/*" onchange="loadFile(event)">
<img id="output"/>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>
-->

<div class="form-group">
                <label for="image" class="text-white">Upload image</label>
                <input type="file" name="image" id="image" class="form-control-file text-white" required>
            </div>

    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</body>
{{>footer}}
</html>




