<!DOCTYPE html>
<html>
<head>
    <title>Simple Upload Example</title>
</head>
<body>
    {{>navbar}}
    <!--
<input type="file" accept="image/*" onchange="loadFile(event)">
<img id="output"/>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
  </script>
  -->
  <div class="container">
          <h1 class="text-center">Upload File</h1>
          <form action="/index1" id="post" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="file1">Upload File </label>
              <input type="file" name="file1" id="" required class="form-control">
            </div>
            <!--
            <div class="form-group">
                <label for="file2">Upload File 2:</label>
                <input type="file" name="file2" id="" required class="form-control">
              </div>
              -->
              <div class="form-group">
                  <button class="btn btn-danger btn-block">
                      Upload File
                  </button>
              </div>
        </form>
      </div>

    
<br></br><br></br><br></br><br><br><br><br><br><br><br>
{{>footer}}
</body>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</html>